/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.env
/.env.*
.env.local
.env.production
.env.test
.env.dusk.local
/.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env.example
/.idea
/.vscode
*.code-workspace
Homestead.yaml
Homestead.yaml.example
/.vagrant
.env.backup
.phpunit.result.cache
